<!-- THIS COMPONENT NEEDS SOME WORK  -->
<div class="carousel-wrapper">
    <ul class="carousel-inner">
        <li *ngFor="let slide of slides; let i = index" class="carousel-item">
            <app-item [item]="slide" [currentSlide]="currentSlide" [index]="i"></app-item>
        </li>
    </ul>
    <div class="next-arrow">
        <p class="item-description">
            <span class="description-bold ">Glittering Edge </span> | {{ slides[currentSlide].description }}
            <svg-icon name="arrow_right" class="arrow" (click)="nextItem()"></svg-icon>
        </p>
    </div>
</div>